@media only screen and (max-width: 525px) {
	body > header {
		justify-content: center;
	}
	body > header > nav {
		display: none;
	}
	body > main .nav-links a {
		display: block;
	}
	body > footer a {
		display: block;
	}


	body > main > #projects > .project-box > img {
		display:none;
	}
	body > main > #projects > .project-box > .project-buttons > a {
		display: block;
		margin: 0px 0px 20px 0px;
	}
	
	body > main > #projects {
		padding: 10px;
	}
	body > main > #projects > .project-box > p {
		width: auto;
	}
	
	
	body > main.contact-container a {
		display: block;
	}		
}

@media only screen and (max-width: 925px) {
	body > main > #projects > .project-box {
		text-align:center;
		justify-content: center;
		grid-gap: 20px;
		height: auto;
		border: 5px solid #9097ad;
		margin-left:0 !important;
		margin-right:0 !important;
	}

	body > main > #projects > .project-box > h3 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}

	body > main > #projects > .project-box > p {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 2;
	}

	body > main > #projects > .project-box > img {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
		width: 350px;
		border-width: 6px;
	}

	body > main > #projects > .project-box > .project-buttons {
		padding: 20px;
		margin: 5px;
	}
}

@media only screen and (max-width: 1326px) {
	body > main > #projects > .project-box {
		margin-left:10vw;
		margin-right:10vw;
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

a {	text-decoration: none; }
a:hover {color: #ddd;}
p { line-height: 25px; }

.contact-container {
	min-height: 100vh; background-color:#eee;
	z-index:10;
	display: flex;
  	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contact-container > h1 {
	padding: 20px;
    color: #2a2e39;
    font-size: 28px;
}
.contact-container a {
	color: #5f5f5f;
	padding: 5px;
	margin:10px;
}

.contact-container > a {
	font-size: 18px;
	
}
.contact-container > p > span {
	display: block;
    margin: 5px;
	color: #bb1717;
}
.contact-container > div {
	margin:30px;
}

.contact-container > div > a {
	color: #2a2e39;
    font-weight: 500;
}

main {
	text-align:center;
}
main #projects {
	min-height: 100vh;
	background: #eee;
	padding: 20px;
	padding-bottom: 150px;
	display: grid;
	grid-gap: 10px;
}
main #projects > h2 {
	font-size: 24px;
	font-weight: 500;
	margin: 20px;
	grid-column-start: 1;
	grid-column-end: 3;
}
main #projects > h3 {
	font-size: 20px;
	font-weight: normal;
	margin: 20px;
	grid-column-start: 1;
	grid-column-end: 3;
}
main #projects > h3 >i.fab {
	font-size:36px;
	vertical-align: middle;
}


.project-box {
	background: #ffffff;
	border-radius:3px;
	display: grid;
	text-align: left;
	padding: 15px;
	grid-gap: 5px;
	justify-content: space-between;
	align-items: center;
	height: 175px;
	border-left: 6px solid #9097ad;
	padding-left: 24px;
	border-radius: 10px;
}
.project-box.red {
	border-left: 6px solid #c72e2e;
}
.project-box > h3 {
	font-weight: normal;
	color: #585b67;
	font-size:20px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.project-box > p {
	font-size:13px;
	color: #676b79;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	line-height: 20px;
	width: 331px;
}
.project-box img {
	font-size:13px;
	color: black;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
	width: 260px;
	text-align:center;
	border: 2px solid #c1c1c1;
    border-radius: 3px;
}


.project-box .project-buttons {
	margin-top: 20px;
}
.project-box .project-buttons > a {
	color: #9097ad;
    margin-right: 25px;
    font-weight: 500;
    font-size: 14px;
}
.project-box .project-buttons > a:hover {
	color: #5c6170;
}
.project-box .project-buttons > a:nth-child(1) {
	background-color: #9097ad;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
}
.project-box .project-buttons > a:hover:nth-child(1) {
	background: #5c6170;
}

.project-box .project-buttons.red > a {
	color: #c72e2e;
	margin-right: 25px;
    font-weight: 500;
    font-size: 14px;
}
.project-box .project-buttons.red > a:hover {
	color: #811e1e;
}
.project-box .project-buttons.red > a:nth-child(1) {
	background-color: #c72e2e;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
}
.project-box .project-buttons.red > a:hover:nth-child(1) {
	background: #811e1e;
}



main #landing {
	min-height: 100vh;
	display: flex;
  	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	background: #2A2E39;
}
main #landing > h1 {
	font-size: 22px;
	display: block;
	color: #b5bcd2;
}
main #landing > .nav-links {
	margin: 20px;
}
main #landing > .nav-links > a {
	margin: 10px;
	color: #d2d224;
	font-size:14px;
}
main #landing > .short-description {
	font-size: 16px;
	color: #9097ad;
}
/* 'My Projects' button */
main #landing > a {
	border: 2px solid #b5bcd2;
    color: #b5bcd2;
    padding: 8px 20px;
    border-radius: 25px;
    position: absolute;
    bottom: 30px;
    font-weight: 500;
    font-size: 14px;
}
main #landing > a:hover {
	color: #878c9c;
}



header {
	width: 100%;
	padding: 10px 0px;
	display: flex;
	justify-content: space-between;
	background: #2A2E39;
	position: absolute;
	top:0;
	z-index:10;
}
header > h1 {
	padding: 5px 20px;
	font-size:18px;
}
nav {
	padding: 5px 20px;
}
nav > a {
	font-size:13px;
	color: #ffffff;
	margin-left: 10px;
}



footer {
	background: #2A2E39;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	display: grid;
	grid-gap: 20px;
}
footer > h2 {
	color: #b5bcd2;
	font-size:20px;
	margin-top: 10px;
}
footer > p {
	display: grid;
}
footer > p > span {
	grid-column-start:1;
	color: #9097ad;
	font-size: 14px;
    font-weight: 500;
	margin:5px;
}
footer > span {
	color: #9097ad;
	font-size:11px;
	margin-top:20px;
}

footer > p > span > a {
	font-size: 15px;
    font-weight: 500;
    color: white;
}

footer a {
	color:#d2d224;
	margin:10px;
	font-size:12px;
	font-weight:normal;
}
